*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslateblue;
}

.wrap{
    position: absolute;
    top: 50%;
    left:50%;
    transform : translate(-50%, -50%);
    color : white;
    text-align: center;
}
.material-icons {
    font-size: 10rem;
}
.lg-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.sm-text{
    font-size: 1rem;
}

/* 커서 표현하기 */ 
#dynamic{
    position : relative;
    display: inline-block;
}
#dynamic::after{
    content: "";
    display: block;
    position: absolute;
    top : 0 ; 
    right : -10px; 
    width: 4px;
    height: 100%;
    background-color: white;
}

/*커서 깜박임을 위한 사전준비 */ 
#dynamic.active::after{
    display: none;
}